@charset "utf-8";
/*二级菜单*/
#vote-menu-21 {background-image:url(../../images/league/icon6.jpg);background-repeat:no-repeat;}
#vote-menu-22 {background-image:url(../../images/league/icon7.jpg);background-repeat:no-repeat;}
#league-menu-21 {background-image:url(../../images/league/icon8.jpg);background-repeat:no-repeat;}
#league-menu-22 {background-image:url(../../images/league/icon9.jpg);background-repeat:no-repeat;}
#league-menu-23 {background-image:url(../../images/league/flow/icon1.jpg);background-repeat:no-repeat;}
#league-menu-24 {background-image:url(../../images/league/flow/icon4.jpg);background-repeat:no-repeat;}
#league-menu-25 {background-image:url(../../images/league/icon10.jpg);background-repeat:no-repeat;}
/*三级菜单*/
#league-menu-211 {background-image:url(../../images/league/icon111.jpg);background-repeat:no-repeat;}
#league-menu-212 {background-image:url(../../images/league/icon112.jpg);background-repeat:no-repeat;}
#league-menu-213 {background-image:url(../../images/league/icon113.jpg);background-repeat:no-repeat;}
#league-menu-214 {background-image:url(../../images/league/icon114.jpg);background-repeat:no-repeat;}
#league-menu-221 {background-image:url(../../images/league/icon115.jpg);background-repeat:no-repeat;}
#league-menu-222 {background-image:url(../../images/league/icon117.jpg);background-repeat:no-repeat;}
#league-menu-223 {background-image:url(../../images/league/icon116.jpg);background-repeat:no-repeat;}
#league-menu-231 {background-image:url(../../images/league/flow/zsl.png);background-repeat:no-repeat;}
#league-menu-232 {background-image:url(../../images/league/icono.jpg);background-repeat:no-repeat;}
#league-menu-233 {background-image:url(../../images/league/icono.jpg);background-repeat:no-repeat;}
#league-menu-234 {background-image:url(../../images/league/icono.jpg);background-repeat:no-repeat;}
#league-menu-235 {background-image:url(../../images/league/icono.jpg);background-repeat:no-repeat;}
#league-menu-236 {background-image:url(../../images/league/icono.jpg);background-repeat:no-repeat;}
#league-menu-237 {background-image:url(../../images/league/icono.jpg);background-repeat:no-repeat;}