<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>votepro-system</display-name>
	<!-- <welcome-file-list> <welcome-file>index.jsp</welcome-file> </welcome-file-list> -->

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<!-- 解决post提交字符编码 -->

	<filter>
		<filter-name>encode</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encode</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 强制登录 -->
	<filter>
		<filter-name>UserLoginFilter</filter-name>
		<filter-class>com.wangku.filter.UserLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserLoginFilter</filter-name>
		<url-pattern>/left.jsp</url-pattern>
		<url-pattern>/backstage/backPage/*</url-pattern>
		<url-pattern>/vote/*</url-pattern>
		<url-pattern>/CommentController/*</url-pattern>
		<url-pattern>/userController/*</url-pattern>
		<url-pattern>/VoteCompany/*</url-pattern>
		<url-pattern>/VoteItem/*</url-pattern>
		<url-pattern>/liuYanController/sp_ly/*</url-pattern>
		<url-pattern>/league/*</url-pattern>
		<url-pattern>/LeaguePram/*</url-pattern>
		<url-pattern>/LeagueSize/v1/*</url-pattern>
		
	</filter-mapping>
	
<!-- 	springSecuruty
 	<filter>
		  <filter-name>springSecurityFilterChain</filter-name>
		  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		  <filter-name>springSecurityFilterChain</filter-name>
		  <url-pattern>/*</url-pattern>
	</filter-mapping> -->

	<!-- 提前加载controller -->
	<!-- 提前加载controller -->
	<servlet>
		<servlet-name>mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/mvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 配置上下文 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:config/applicationContext.xml,
    			 classpath*:remote-config-single.xml,
		 		  classpath*:remote-consumer.xml</param-value>
	</context-param>
	
	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/comment/linkTimeout.jsp</location>
	</error-page>
</web-app>