body{margin:0; padding:0; font-family:"微软雅黑"; font-size:12px; color:#3f3f3f; background:#4ea6f8;}
div,img,h3,p,span{margin:0; padding:0; list-style:none; border:0;}
a:link,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
img{display:block;}

#top{width:100%; height:520px; overflow:hidden;}
.top1{height:266px; background:url(../../../images/special/festivalspecial-guoqing_zhongqiu/top1.png) no-repeat top center;}
.top2{height:254px; background:url(../../../images/special/festivalspecial-guoqing_zhongqiu/top2.png) no-repeat top center;}

#main1{width:990px; overflow:hidden; margin:0 auto;}
.tit1{width:990px; height:76px; background:url(../../../images/special/festivalspecial-guoqing_zhongqiu/tit1.png) no-repeat;}
.main1_m{width:990px; overflow:hidden;}
.product1{width:238px; height:314px; overflow:hidden; margin:12px 12px 0 0; float:left; display:inline; overflow:hidden;}
.describe{width:233px; height:80px; background:#fcf5b8; padding:5px 0 0 5px; overflow:hidden; position:relative;}
.business{ display:block; width:228px; height:20px; line-height:14px;}
.price{width:147px; height:30px; font-size:14px; line-height:30px; color:#ff0000;}
.gram{width:147px; overflow:hidden;}
.button{display:block; width:59px; height:58px; background:url(../../../images/special/festivalspecial-guoqing_zhongqiu/button.png) no-repeat; position:absolute; top:23px; left:170px;}
.margin_r0{margin-right:0;}

#main2{width:990px; overflow:hidden; margin:0 auto; margin-top:12px;}
.tit2{width:990px; height:76px; background:url(../../../images/special/festivalspecial-guoqing_zhongqiu/tit2.png) no-repeat;}

#main3{width:990px; overflow:hidden; margin:0 auto; margin-top:12px;}
.tit3{width:990px; height:76px; background:url(../../../images/special/festivalspecial-guoqing_zhongqiu/tit3.jpg) no-repeat;}

#main4{width:990px; overflow:hidden; margin:0 auto; margin-top:12px;}
.tit4{width:990px; height:76px; background:url(../../../images/special/festivalspecial-guoqing_zhongqiu/tit4.jpg) no-repeat;}
.action1{width:990px; height:170px; margin-top:25px;}

#footer{width:100%;height:50px; background:#297cf6;margin:0 auto;padding-top:35px; margin-top:26px;}
/*抖动问题解决================================================*/
*html{  background-image:url(about:blank); background-attachment:fixed; }

#navbar_right {
	width:188px;
	overflow:hidden;
	
	position:fixed;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
	 _margin-bottom:50px; 
	overflow:hidden;
	bottom:50px;
	right:20px;
	cursor:pointer;
	font-size:14px;
	line-height:30px;
	
}

a:link,a:visited{text-decoration:none;color:#FFF;}
a:hover{text-decoration:none;}

#gotopbtn a:link,#gotopbtn a:visited{color:#572f01; text-decoration:none;}
#gotopbtn a:hover{ text-decoration:none; color:#572f01;}

.mj_nav{ width:188px; height:125px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;  background:url(../../../images/special/festivalspecial-guoqing_zhongqiu/ce_bg.png) no-repeat; padding-top:208px; overflow:hidden;}

.mj_nav_list{ width:188px;height:34px; margin:0 auto; line-height:34px; text-align:center; margin-bottom:12px;}
.nav_span{ display:block; width:188px; height:34px; line-height:24px;background-repeat:no-repeat; background-position:5px 8px; color:#572f01; font-size:14px; cursor: pointer; font-weight:600;}
.mj_nav .mj_nav_list0{margin-bottom:0;}
.di{float:left; background:url(images/gengduo.png); height:76px; width:100%; margin-top:15px; overflow:hidden;}
.di2{margin:0 auto; background:#ffb214; height:50px; width:1000px; margin-top:15px;}
.di2 a{float:left; width:300px; padding-top:12px; font:"黑体"; color:#C00; font-size:20px; text-align:center; margin-left:350px;}

#gotop{ width:86px; height:33px; background:url(../../../images/special/festivalspecial-guoqing_zhongqiu/goto_top.png) no-repeat; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; cursor: pointer; margin-left:53px;}
/*.gotop{ display:none;}*/