@charset "utf-8";
/*全站公共样式*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px "宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%; line-height:22px;background:#fffae4;color:#333;}
a{color:#252525;text-decoration:none;  cursor:pointer;}
a:hover{color:#F08418;text-decoration:none}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
p{word-wrap:break-word}
.cls{clear:both;}
.clear{clear:both;content:"";display:table;}
.clearfix{zoom:1;}
.clearfix:after{ content:"."; display:block; height:0; clear:both; overflow:hidden; visibility:visible}
table{border-collapse:collapse;}
.floatL{float:left;}
.floatR{float:right;}
input,textarea,select,button {outline:none;}
/**/
.re_top1{ width:100%; height:272px; background:url(../images/re_top1.jpg) no-repeat center top;}
.re_top2{ width:100%; height:293px; background:url(../images/re_top2.jpg) no-repeat center top;}
.re_top3{ width:100%; height:273px; background:url(../images/re_top3.jpg) no-repeat center top;}
.part2{ width:100%; height:509px; background:url(../images/part2.jpg) no-repeat center top;}
.part3{ width:100%; height:535px; background:url(../images/part3.jpg) no-repeat center top;}
.part4{ width:100%; height:746px; background:url(../images/part4.jpg) no-repeat center top;}
.part5{ width:100%; height:251px; background:url(../images/part5.jpg) no-repeat center top;}
.part5_con{ width:1190px; height:251px; margin:0 auto;}
.tell,.weixin,.QQ,.email{ display:inline; float:left; width:352px; height:48px; line-height:48px; color:#647d9d; font-size:36px; font-weight:normal; font-family:"microsoft yahei"; font-style:italic;}
.tell{ margin:56px 37px 0 149px;}
.weixin{ width:316px; margin:56px 56px 0 0px;}
.QQ{ width:200px; margin:56px 0px 0 0px;}
.QQ a,.QQ a:hover{ color:#647d9d;}
.email{ margin:47px 0 0 566px;}
.email a{ color:#fff;font-size:30px;}
.email a:hover{ color:#fff;}